*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover {
    background-color: rgb(207, 15, 15);
    width: 30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Login-btn {
    width: 40%;
    height: 3em;
    background-color: #c42f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}
.Login-btn:hover { transform: scale(1.25);}


    
.hide {display:none;}

.login-popup{
    position:absolute;
    height: 30em;
    width: 30em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: aqua;
    color: azure;
    bottom: 0; 
    transform: scale(1);
    transform: 1.5s;
}



